@import ../node_modules/normalize.css/normalize.css
// Colors variables
$white: white
$dark-blue: #102746
$medium-blue: #006DFE

body
    font-family: Lato, sans-serif
    font-style: normal
    font-size: 16px
    line-height: 1.2
    font-weight: normal
    color: $dark-blue

.wrapper
    max-width: 1062px
    margin: 0 auto
.wrapper-lg
    max-width: 1264px
    margin: 0 auto

.section-title
    font-size: 35px
    line-height: 42px
    position: relative
    padding-bottom: 10px
    &::after
        content: ""
        display: block
        position: absolute
        bottom: 0
        left: 0
        width: 253px
        height: 3px
        background-color: $medium-blue

.arrow-right-long 
    position: relative
    width: 30px
    height: 2px
    background-color: #0074d9
.arrow-right-long::after 
    position: absolute
    content: ""
    top: -4px
    right: -5px
    border: 5px solid #ffffff
    border-right-width: 0
    border-left-color: #0074d9
    border-top-color: transparent
    border-bottom-color: transparent

// Header

.header
    padding-top: 56px
    position: fixed
    top: 0
    left: 0
    width: 100%
    transition: .2s linear
    padding-bottom: 20px
    z-index: 10
    .header__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        .header__list
            display: flex
            flex-wrap: wrap
            .header__item
                list-style: none
            a
                color: $white
                text-decoration: none
                &:hover, &:focus
                    opacity: 0.5
                    transition: opacity 0.4s
            .header__item:not(.header__item:last-child)
                margin-right: 82px 
    &_active
        background-color: rgba(14, 29, 40, 0.85)
// Hero
.hero
    min-height: 100vh
    background: linear-gradient(to bottom, rgba(53, 66, 103, 0.01%), rgba(21,24,36, 100%)), url("../images/hero_background.png") no-repeat
    background-size: cover
    padding-bottom: 223px
    &__wrapper
        padding-top: 263px

    &__title
        max-width: 619px
        font-size: 50px
        font-weight: 500
        color: $white
        margin-bottom: 22px

    &__subtitle
        max-width: 546px
        font-weight: normal
        font-style: 16px
        line-height: 24px
        color: $white
        margin-bottom: 59px

    .search-form
        &__wrapper
            border: 0
            display: flex
            flex-wrap: wrap

            .search-form__field
                display: inline-block
                border-bottom: 2px solid #BFC0C5
                width: 297px
                padding-bottom: 23px
                margin-right: 61px

                .search-form__input
                    background: none
                    border: 0
                    margin-left: 43px
                    color: $white
                    font-weight: 500
                    font-size: 18px
                    width: 84%

                    &::placeholder
                        color: $white
                        opacity: 1
                   
                &::before
                    content: ""
                    height: 20px
                    width: 20px
                    border-radius: 50%
                    border: 1px solid $white
                    position: absolute

            .search-form__submit
                background: #1B7DFF
                padding: 15px 39px
                border: 0
                font-size: 24px
                font-weight: 500
                text-transform: uppercase
                color: $white

                &:hover, &:focus
                    background-color: #1969d3
                    transition: background-color 0.3s ease-in-out


// Benefits
.benefits
    padding-bottom: 133px
    .benefits__wrapper
        background-color: $white
        box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993)
        position: relative
        .benefits__title
            width: 1062px
            font-weight: 500
            font-size: 35px
            line-height: 42px
            padding: 93px 100px 88px 100px
            position: absolute
            top: 0
            left: 0
            transform: translateY(-100%)
            background-color: $white
        .benefits__sections
            display: grid
            grid-template-columns:  repeat(3, 1fr)
            grid-column-gap: 55px
            padding: 25px 100px
            .benefits__card
                grid-column: span 1
                margin-bottom: 112px
                &-icon
                    margin-bottom: 37px
                &-title
                    font-weight: 500
                    font-size: 18px
                    line-height: 24px
                    margin-bottom: 20px
                &-description
                    margin-bottom: 39px
                    line-height: 24px
                &-more
                    display: flex
                    align-items: center
                    gap: 15px
                    color: $medium-blue
                    text-transform: uppercase
                    text-decoration: none
                    
                    

// Inspired
.Inspired
    padding-bottom: 131px
    &__caption
        display: flex
        justify-content: space-between
        align-items: center
        flex-wrap: wrap
        margin-bottom: 36px
    &__title
        @extend .section-title
        margin-right: 15px
    &__view-all
        text-transform: uppercase
        text-decoration: none
        color:$medium-blue
        display: flex
        align-items: center
        gap: 15px
    
    .Inspired__cards
        display: grid
        grid-template-columns:  repeat(6, 1fr)
        grid-gap: 10px
        .Inspired__card
            margin: 0
            position: relative
            overflow: hidden
            &::after
                display: block
                content: ""
                width: 100%
                height: 100%
                background-color: rgba(21, 24, 36, 0.4)
                position: absolute
                top: 0
                left: 0
                z-index: 2
            &_size_lg
                grid-column: span 3
            &_size_sm
                grid-column: span 2
            &-image
                transform: scale(1.2)
                object-fit: cover
            &-image_size_lg
                height: 354px
            &-image_size_sm
                height: 283px
            &-caption
                font-size: 50px
                font-weight: bold
                color: $white
                position: absolute
                left: 29px
                bottom: 27px
                z-index: 3
            &-link
                position: absolute
                top: 0
                left: 0
                height: 100%
                width: 100%
                z-index: 4
// Featured
.Featured
    margin-bottom: 139px
    &__info
        padding-left: 84px
    &__tour
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 0 108px
        align-items: center
        margin-bottom: 77px
    &__title
        font-size: 30px
        line-height: 40px
        font-weight: 500
        margin-bottom: 85px
    &__description
        font-size: 16px
        line-height: 24px
        margin-bottom: 58px
    &__link
        display: flex
        align-items: center
        gap: 15px
        color: $medium-blue
        text-transform: uppercase
        text-decoration: none

// Places
.Places
    margin-bottom: 86px
    &__cards
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 57px
    &__card
        width: 386px
        display: flex
        flex-direction: column
        &-image
            position: relative
            margin-bottom: 45px
        &-title
            color: $white
            display: flex
            justify-content: space-around
            align-items: center
            position: absolute
            width: 100%
            bottom: 0
            left: 0
            background-color: rgba(21, 24, 36, 0.6)
        &-name
            font-size: 18px
            line-height: 24px
            font-weight: 500
            text-transform: uppercase
        &-like
            padding-right: 23px
            margin-right: 13px
            background: url("../images/Likes.svg") no-repeat right center
        &-comment
            padding-right: 23px
            background: url("../images/Comment.svg") no-repeat right center
        &-description
            font-weight: 400
            margin-bottom: 31px
        &-more
            margin: auto 0 0 0
            width: 118px
            text-decoration: none
            background: $medium-blue
            padding: 12px 19px
            border: 0
            font-size: 16px
            font-weight: 500
            line-height: 19,2px
            text-transform: uppercase
            color: $white

            &:hover, &:focus
                background-color: #1969d3
                transition: background-color 0.3s ease-in-out

// Video
.Videos
    width: 100%
    &__wrapper
        max-width: 1440px
        margin: 0 auto
        position: relative
    &__item
        padding-top: 56.25%
    &__element
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%


// Footer